button {
  background-color: #033515;
  color: white;
  padding: 30px;
  height: 100px;
  width: 300px;
  margin: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}


.Nav-Bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: white;
  background-color: black;
}

.starship-details{
  border: 1px solid #033D42;
  background-color: #033D42;
  position: relative;
  color: white;
  width: 400px;
  margin: 150px;
}

a{
  color: white;
  font-size: 25px;
  text-decoration: none;
}